/* AppLayout.css */
html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
  }
  
  #root {
    height: 100%;
  }
  .layout{
    font-size: 2rem;
    margin: 1rem;
  }
  .app-layout {
    min-height: 100vh;
    background-color: black;
    color: white;
  }


  input::placeholder {
    color: gray; /* 원하는 색상으로 변경 */
  }