html, body {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
}

#root {
  height: 100%;
}

.app-layout {
  min-height: 100vh;
  background-color: black;
  color: white;
}

.navbar-custom {
  max-height: 100px;
  background: black;
  color: white;
}

.layout {
  font-size: 2rem;
  margin: 1rem;
  color: white;
  text-decoration: none;
  background-color: black;
}

input::placeholder {
  color: gray;
}